* {
  box-sizing: border-box;
}

body,
div,
html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /* font-size: 100%; */
  vertical-align: baseline;
  font-family: "標楷體", DFKai-sb, BiauKai, Heiti TC, sans-serif;
  touch-action: manipulation;
}

body {
  margin: 0;
  overflow: scroll;
  background-color: black;
  text-align: center;
  position: relative;
}

.background {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#game {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.portrait {
  visibility: hidden;
  z-index: 5;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/rotatePhone.gif");
}

.landscape {
  display: none;
  z-index: 10;
  position: absolute;
  overflow: scroll;
  width: 100%;
  top: 0;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top;
  background-image: url("../assets/swipeUp.gif");
}

.modal {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-block {
  display: block;
}

.visible {
  visibility: visible;
}

.no-display {
  display: none;
}

/* the rest is for preloading background images */

.img1 {
  background-image: url("../assets/modals/instructionModal/instructions-page-one.png");
}

.img2 {
  background-image: url("../assets/modals/instructionModal/instructions-page-two.png");
}

.img3 {
  background-image: url("../assets/modals/instructionModal/instructions-modal-background.png");
}

.img4 {
  background-image: url("../assets/modals/instructionModal/instructions-modal-up-arrow.png");
}

.img5 {
  background-image: url("../assets/modals/instructionModal/instructions-modal-down-arrow.png");
}

.img6 {
  background-image: url("../assets//modals/historyModal/betAmount.png");
}

.img7 {
  background-image: url("../assets/modals/historyModal/betItem.png");
}

.img8 {
  background-image: url("../assets/modals/historyModal/betResult.png");
}

.img9 {
  background-image: url("../assets/modals/historyModal/betTime.png");
}

.img10 {
  background-image: url("../assets/modals/historyModal/betWinning.png");
}

.img11 {
  background-image: url("../assets/modals/historyModal/confirm.png");
}

.img12 {
  background-image: url("../assets/modals/historyModal/down-arrow.png");
}

.img13 {
  background-image: url("../assets/modals/historyModal/gameNo.png");
}

.img14 {
  background-image: url("../assets/modals/historyModal/historyCellBg.png");
}

.img15 {
  background-image: url("../assets/modals/historyModal/historyModalBetAmount.png");
}

.img16 {
  background-image: url("../assets/modals/historyModal/historyModalBg.png");
}

.img17 {
  background-image: url("../assets/modals/historyModal/historyModalBottomBar.png");
}

.img18 {
  background-image: url("../assets/modals/historyModal/historyModalTotalWinning.png");
}

.img19 {
  background-image: url("../assets/modals/historyModal/historyModalX.png");
}

.img20 {
  background-image: url("../assets/modals/historyModal/time-option.png");
}

.img21 {
  background-image: url("../assets/modals/historyModal/time-selection.png");
}

.img22 {
  background-image: url("../assets/modals/historyModal/timebar.png");
}

.img23 {
  background-image: url("../assets/modals/soundModal/off-switch.png");
}

.img24 {
  background-image: url("../assets/modals/soundModal/on-switch.png") "";
}

.img25 {
  background-image: url("../assets/modals/soundModal/sound-background.png");
}

.img26 {
  background-image: url("../assets/modals/soundModal/x-icon-pressed.png");
}

.img27 {
  background-image: url("../assets/modals/soundModal/x-icon.png");
}

.img28 {
  background-image: url("../assets/modals/tallyConfirmationModal/cancel-btn-pressed.png");
}

.img29 {
  background-image: url("../assets/modals/tallyConfirmationModal/cancel-btn.png");
}

.img30 {
  background-image: url("../assets/modals/tallyConfirmationModal/confirm-btn-pressed.png");
}

.img31 {
  background-image: url("../assets/modals/tallyConfirmationModal/confirm-btn.png");
}

.img32 {
  background-image: url("../assets/modals/tallyConfirmationModal/tally-confirmation-background.png");
}

.img33 {
  background-image: url("../assets/modals/tallyModal/confirm-btn-pressed.png");
}

.img34 {
  background-image: url("../assets/modals/tallyModal/confirm-btn.png");
}

.img35 {
  background-image: url("../assets/modals/tallyModal/tally-modal-background.png");
}
