.bottom-right-button-holder {
  position: absolute;
  bottom: 2%;
  right: 1%;
  width: 24%;
  height: 18%;
  display: flex;
  align-items: center;
  pointer-events: all;
}

.auto-bet-button,
.clear-bet-button,
.confirm-bet-button {
  background-size: 100% 100%;
  cursor: pointer;
}

.auto-bet-button-container {
  width: 30%;
  height: 90%;
}

.auto-bet-button {
  height: 80%;
  background-image: url(../../assets/backgroundTwo/bottomRightButtons/autoBet.png);
}

@media (max-width: 900px) {
  .auto-bet-button-text,
  .clear-bet-button-text,
  .confirm-bet-button-text {
    color: white;
    font-weight: bold;
    font-size: 0.5em;
  }
}

@media (min-width: 901px) {
  .auto-bet-button-text,
  .clear-bet-button-text,
  .confirm-bet-button-text {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
  }
}

.clear-bet-button-container {
  width: 30%;
  height: 90%;
}

.clear-bet-button {
  height: 80%;
  background-image: url(../../assets/backgroundTwo/bottomRightButtons/clearBets.png);
}

.confirm-bet-button-container {
  position: absolute;
  right: 0;
  bottom: 5%;
  width: 40%;
  height: 110%;
}

.confirm-bet-button {
  background-image: url(../../assets/backgroundTwo/bottomRightButtons/confirmBet.png);
  height: 83.5%;
}
