.chip-holder {
  width: 45%;
  height: 20%;
  left: 30%;
  bottom: 2%;
  position: absolute;
  display: flex;
  pointer-events: all;
}

.chip-holder-arrow {
  width: 10%;
  height: 100%;
  background-size: 100% 100%;
  cursor: pointer;
}

.left-arrow {
  background-image: url("../../assets/backgroundTwo/chipHolder/left-arrow.png");
}

.right-arrow {
  background-image: url("../../assets/backgroundTwo/chipHolder/right-arrow.png");
}

.chip-holder-body {
  width: 80%;
  height: 100%;
  background-image: url("../../assets/backgroundTwo/chipHolder/chip-holder-bg.png");
  background-size: 100% 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip-holder-body-inner {
  width: 90%;
  overflow: hidden;
}

.chip-holder-slider {
  width: 200%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms;
}

.chip-container {
  width: 10%;
  height: 80%;
  cursor: pointer;
}
