.top-left-history-display {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 10%;
  height: 43%;
  background-image: url("../../assets/backgroundTwo/topLeftHistoryDisplay/topLeftHistoryDisplayBg.png");
  background-size: 100% 100%;
  z-index: 1;
  pointer-events: all;
}

.top-left-history-display-body-container {
  position: absolute;
  top: 18%;
  left: 12.5%;
  width: 75%;
  height: 75%;
}

.top-left-history-display-body-row {
  width: 100%;
  height: calc(100% / 6);
  display: flex;
}

.top-left-history-display-body-cell {
  height: 100%;
  width: calc(100% / 3);
  background-image: url("../../assets/backgroundTwo/topLeftHistoryDisplay/cellBg.png");
  background-size: 100% 100%;
}

.history-individual-result-img {
  height: 100%;
  width: 100%;
}
