* {
  box-sizing: border-box;
}

.background {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.game {
  z-index: 0;
  width: 100vh;
  height: 100vw;
  position: fixed;
  left: 0;
  top: 0;
}

.portrait {
  visibility: hidden;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./assets/rotatePhone.gif");
}

.landscape {
  display: none;
  z-index: 10;
  position: absolute;
  overflow: scroll;
  width: 100vw;
  top: 0;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top;
  background-image: url("./assets/swipeUp.gif");
}

.display-block {
  display: block;
}

.visible {
  visibility: visible;
}
